.all_users_wrapper {
  width: 90%;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.all_users {
  width: 90%;
  margin: 2rem auto;
  font-family: sans-serif;
  border: 1px solid #e3e5e8;
  border-radius: 8px;
}

.all_users_header {
  display: grid;
  grid-template-columns: 2fr 2fr 3fr 1fr 1fr;
  font-weight: bold;
  background: #f7f8fa;
  padding: 1px 15px;
  border-bottom: 1px solid #e3e5e8;
}

.user-list {
  list-style: none;
  padding: 0;
  margin: 0;

  max-height: 60vh;
  overflow-y: auto;
}

.user-list li {
  display: grid;
  grid-template-columns: 2fr 2fr 3fr 1fr 1fr;
  align-items: center;
  padding: 12px 15px;
  border-bottom: 1px solid #e3e5e8;
  background: white;
}

.user-list li:last-child {
  border-bottom: none;
}

.user-list li p {
  margin: 0;
}

.user-list li div {
  display: flex;
  justify-content: flex-end;
  gap: 5px;
}

.user-list button {
  padding: 6px 12px;
  border: 1px solid #cfd2d8;
  background: white;
  border-radius: 6px;
  cursor: pointer;
  font-size: 13px;
  transition: background 0.15s;
}

.user-list button:hover {
  background: #eceff4;
}

.add-user-button {
  align-self: flex-end;
  margin-right: 5%;
  padding: 8px 16px;
  border-radius: 4px;
  border-style: none;

  background-color: var(--primary-bt-color);
  transition: 0.1s;
  cursor: pointer;
}

.add-user-button:hover {
  background-color: var(--primary-bt-hover-color);
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal-box {
  background: white;
  padding: 2rem;
  border-radius: 10px;
  text-align: center;
  width: 300px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.modal-actions {
  margin-top: 1rem;
  display: flex;
  justify-content: space-around;
}

.modal-actions button {
  padding: 8px 16px;
  border-radius: 6px;
  border: none;
  cursor: pointer;

  transition: 0.1s;
}

#confirmDelete {
  background: #e02a2a;
  color: white;
}
#confirmDelete:hover {
  background: #b32222;
}

#cancelDelete:hover {
  background-color: lightgray;
}
