.alert-box {
  position: fixed;
  z-index: 9999;
  top: 85px;
  right: 40px;
  padding: 8px 18px;
  border-radius: 6px;

  animation: fadeIn 0.3s ease forwards;

  display: flex;
  align-items: center;
  gap: 10px;

  animation: slideIn 0.35s ease-out forwards;
}

.alert-box-icon {
  width: 18px;
  height: 18px;
}

.alert-box.success {
  color: rgb(0, 51, 0);
  background-color: lightgreen;
}

.alert-box.error {
  color: rgb(153, 0, 0);
  background-color: rgb(255, 176, 176);
}

.alert-box.exit {
  animation: slideOut 0.3s ease-in forwards;
}

@keyframes slideIn {
  from {
    transform: translateX(120%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(120%);
    opacity: 0;
  }
}
