:root {
  --primary-bg-color: #8f7fee;
  --primary-bg-hover-color: #7541ef;
  --primary-bt-color: #eecc85;
  --primary-bt-hover-color: #e6b863;
  --primary-bt-delete-color: #e02a2a;
  --primary-bt-delete-hover-color: #b32222;
}
