.report_container {
  width: 80%;
  height: 97%;
  background-color: var(--primary-bg-color);
  border-radius: 4px;

  display: flex;
  flex-direction: column;
  align-items: center;

  overflow-y: auto;
  overflow-x: hidden;
}

.form_container {
  width: 90%;
  height: 70%;
}

.form_container > form {
  display: flex;
  flex-direction: column;
  color: white;
}

.form_container > form > label {
  margin-top: 5px;
}

.form_container > form > select {
  padding: 10px;
  border: 1px black;
  border-radius: 5px;
}

.form_container > form > div > select {
  padding: 10px;
  border: 1px black;
  border-radius: 5px;
}

.form_container > form > input {
  padding: 10px;
  border: 1px black;
  border-radius: 5px;
}

textarea {
  border: 1px black;
  border-radius: 5px;
}

#incident_form_header {
  color: white;
}

form > button {
  background-color: var(--primary-bt-color);
  margin-top: 5px;
  border: 1px;
  border-radius: 5px;
  height: 30px;
}

form > button:hover {
  background-color: var(--primary-bt-hover-color);
  cursor: pointer;
}

#asset_container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.asset_Pborder {
  margin-top: 5px;
  border-radius: 5px;
  border: solid 2px;
}

input:disabled,
textarea:disabled,
select:disabled {
  background-color: white;
  color: black;
  opacity: 1;
  border-color: inherit;
}

.comments {
  display: flex;
  margin-top: 5px;
  flex-direction: column;
  align-items: center;
}

.comment {
  width: 80%;
  padding: 10px;
  border: 1px black;
  border-radius: 5px;
}

.comment_button {
  background-color: var(--primary-bt-color);
  color: black;
  padding: 10px;
  border-radius: 5px;
}

.comment_button:hover {
  cursor: pointer;
  background-color: var(--primary-bt-hover-color);
}

#evidence_container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 15px;
}

.evidence-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image_container {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.image_label {
  margin-top: 6px;
  font-size: 0.85rem;
  text-align: center;
  color: #fff;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
