.incident_container {
    background-color: var(--primary-bg-color);
    width: 70%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

#order_by {
    margin-left: 30px;
}

.table_container {
    width: 90%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px;
}

table {
    border: 2px solid black;
    width: 90%;
}

table th, table td {
  text-align: center;
  vertical-align: middle;
}

th, td {
    border: 2px solid black;
    background-color: var(--primary-bt-color);
    border-radius: 5px;
}