.report_container {
    width: 500px;
    height: 500px;
    background-color: #5a25d8;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form_container {
    width: 90%;
    height: 70%;
}

form {
    display: flex;
    flex-direction: column;
    color: white;
}

form > label{
    margin-top: 5px;
}

form > select {
    padding: 10px;
    border: 1px black;
    border-radius: 5px;
}

form > input {
    padding: 10px;
    border: 1px black;
    border-radius: 5px;
}

textarea {
    border: 1px black;
    border-radius: 5px;
}

h1 {
    color: white;
}

button {
    margin-top: 5px;
    border: 1px;
    border-radius: 5px;
    height: 30px;
}

button:hover {
    background-color: #09d824;
    cursor: pointer;
}