body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  margin: 0;
}

.loginsection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 5rem;
  border-radius: 4px;

  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

/* "Sign in"  */
.loginsection > p {
  border: 2px solid rgb(37, 37, 37);
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  margin: 0 0 1rem 0;
}

.loginsection > span {
  align-self: flex-start;
  font-size: 18px;
  color: red;
  margin: 0;
}

.loginsection > form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

/* Inputs */
.loginsection > form > input {
  width: 250px;
  padding: 10px;
  border: 2px solid rgb(219, 218, 218);
  border-radius: 8px;
  outline: none;
  font-size: 1rem;
  box-sizing: border-box;
}

/* Login-knappen */
.loginsection > form > button {
  width: 100%;
  padding: 10px;
  background-color: var(--primary-bg-color);
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
}

.loginsection > form > button:hover {
  background-color: var(--primary-bg-hover-color);
}

/* Register-knappen (andra knappen) */
.loginsection > button:last-of-type {
  background-color: transparent;
  color: #6b2eff;
  border: 1.5px solid #6b2eff;
  border-radius: 8px;
  padding: 8px 12px;
  font-size: 0.9rem;
  cursor: pointer;
}

.loginsection > button:last-of-type:hover {
  background-color: #f4f0ff;
}

/*
--------------------------------
 SIGN UP
 -----------------------------
*/

.signupsection {
  display: none;
}
