body {
  display: grid;
  grid-template-columns: 15rem auto;
  grid-template-rows: auto 1fr;
  height: 100vh;
  width: 100vw;
  margin: 0;
}

/*
------------------------
HEADER
------------------------
*/

header {
  background-color: var(--primary-bg-color);
  grid-column: 1 / 3;
  grid-row: 1;
  border-bottom: 2px solid black;

  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  padding: 0.5rem 1rem;
}

header > p {
  font-size: 45px;
  grid-column: 2;
  text-align: center;
  margin: 0;
}

header > div {
  grid-column: 3;
  justify-self: end;
}

header > div > button {
  padding: 10px 30px 10px 30px;
  border: none;
  border-radius: 8px;
  color: white;

  transition: 0.1s;
}

header > div > button:first-of-type {
  background-color: #464c6e;
  margin-right: 15px;
}

header > div > button:first-of-type:hover {
  background-color: #393d55;
}

header > div > button:last-of-type {
  background-color: var(--primary-bt-delete-color);
}

header > div > button:last-of-type:hover {
  background-color: var(--primary-bt-delete-hover-color);
}

header > div > button:hover {
  cursor: pointer;
}

/*
------------------------
ASIDE
------------------------
*/

aside {
  background-color: var(--primary-bg-color);
  grid-column: 1;
  grid-row: 2;

  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.aside-button-container {
  width: 80%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 32px;
}

.aside-button-container > button {
  background-color: var(--primary-bt-color);

  padding: 10px 30px 10px 30px;
  border: none;
  border-radius: 8px;
  color: black;
  width: 100%;
  margin-left: 10px;
  margin-right: 10px;

  transition: 0.1s;
}

.aside-button-container > button:hover {
  background-color: var(--primary-bt-hover-color);
  cursor: pointer;
}

.aside-button-container > p {
  margin-top: 10px;
  margin-bottom: 0;
  font-weight: bold;
  font-size: 32px;
}

/*
------------------------
MAIN
------------------------
*/

main {
  grid-column: 2;
  grid-row: 2;

  display: flex;
  align-items: center;
  justify-content: center;
}
