.loginsection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

/* "Sign in"  */
.loginsection > p {
  border: 2px solid black;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  margin: 0 0 1rem 0;
}

/* Inputs */
.loginsection > input {
  width: 250px;
  padding: 10px;
  border: 2px solid black;
  border-radius: 2px;
  outline: none;
  font-size: 1rem;
  box-sizing: border-box;
}

/* Login-knappen */
.loginsection > button:first-of-type {
  width: 150px;
  padding: 10px;
  background-color: #6b2eff;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
}

.loginsection > button:first-of-type:hover {
  background-color: #5a25d8;
}

/* Register-knappen (andra knappen) */
.loginsection > button:last-of-type {
  background-color: transparent;
  color: #6b2eff;
  border: 1.5px solid #6b2eff;
  border-radius: 8px;
  padding: 8px 12px;
  font-size: 0.9rem;
  cursor: pointer;
}

.loginsection > button:last-of-type:hover {
  background-color: #f4f0ff;
}

/*
--------------------------------
 SIGN UP
 -----------------------------
*/

.signupsection {
  display: none;
}
